html {
    font-size: 30px;
    background-color: rgb(164, 234, 175);

}

h1 {
  margin: 0;
  color: rgb(43, 154, 217);
  padding: 20px auto;
  text-shadow: 3px 3px 1px black;
  font-size: 60px;
  text-align: center;
}